<footer class="px-gutter py-20 w-full max-w-content mx-auto mt-[80px] md:mt-[100px] lg:mt-[120px] flex justify-between items-baseline">
  <p class="text-caption text-muted">&copy; Mariah Gardziola 2026</p>
  <p class="text-caption text-muted">v 4.0</p>
</footer>
