---
interface Props {
  columns?: 2 | 3;
  caption?: string;
}

const { columns = 2, caption } = Astro.props;
---

<figure>
  <div class={`grid gap-[10px] lg:gap-[20px] [&_img]:!my-0 ${columns === 3 ? 'grid-cols-1 sm:grid-cols-3' : 'grid-cols-1 sm:grid-cols-2'}`}>
    <slot />
  </div>
  {caption && (
    <figcaption class="text-[14px] lg:text-[16px] text-muted mt-[5px] md:mt-[10px]">
      {caption}
    </figcaption>
  )}
</figure>
