---
interface Props {
  company: string;
  role: string;
  years: string;
}

const { company, role, years } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-[1fr_3fr] gap-x-5 md:gap-x-10 gap-y-10 px-gutter w-full max-w-content mx-auto mb-[20px] md:mb-[30px] lg:mb-[40px]">
  <div>
    <p class="text-body-sm text-muted">company</p>
    <p class="text-heading-lg">{company}</p>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div>
      <p class="text-body-sm text-muted">role</p>
      <p class="text-heading-lg">{role}</p>
    </div>
    <div>
      <p class="text-body-sm text-muted">years</p>
      <p class="text-heading-lg">{years}</p>
    </div>
  </div>
</div>
