---
interface Props {
  company: string;
  roles: { title: string; dates: string }[];
}

const { company, roles } = Astro.props;
---

<div class="flex flex-col gap-5">
  <p class="text-heading-lg">{company}</p>
  {roles.map((role) => (
    <div class="flex flex-col sm:flex-row sm:justify-between sm:items-baseline gap-x-10">
      <p class="text-body-sm text-muted">{role.title}</p>
      <p class="text-body-sm text-muted">{role.dates}</p>
    </div>
  ))}
</div>
